<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Hogwarts Online Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/png" href="../static/favicon/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body id="body">
<div class="container">
    <h1>Comments for product: <span>Hot Garlic</span></h1>

    <table class="table table-striped table-hover">
        <tr th:each="comment : ${product.getComments()}">
            <td th:text="${comment.getText()}">Garlic is just fantastic!</td>
        </tr>
    </table>

    <p>
        <a class="btn btn-secondary" href="list.html">Return to product list</a>
    </p>
</div>

</body>

</html>

