<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>The Hogwarts Online Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/png" href="../static/favicon/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <h1>Product list</h1>
      <div>
        <a class="btn btn-primary" href="productform.html" th:href="@{/product/new}">Add a New Product</a>
      </div>
      <hr/>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>NAME</th>
          <th>PRICE</th>
          <th>IN STOCK</th>
          <th>COMMENTS</th>
          <th>Operations</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="product:${prods}">
          <td th:text="${product.name}">Onions</td>
          <td th:text="${product.price}">2.41</td>
          <td th:text="${product.inStock}">yes</td>
          <td>
            <span th:text="${#lists.size(product.comments)}">2</span> comment/s
            <a class="btn btn-outline-info" href="comments.html"
               th:href="@{/product/comments(prodId=${product.id})}"
               th:unless="${#lists.isEmpty(product.comments)}">
              View
            </a>
          </td>
          <td>
            <a class="btn btn-info" href="show.html" th:href="@{'/product/show/' + ${product.id}}">Details</a>
            <a class="btn btn-warning" href="productform.html" th:href="@{'/product/edit/' + ${product.id}}">Edit</a>
            <a class="btn btn-danger" th:href="@{'/product/delete/' + ${product.id}}">Delete</a>
          </td>
        </tr>
        <tr class="odd">
          <td>Blue Lettuce</td>
          <td>9.55</td>
          <td>no</td>
          <td>
            <span>0</span> comment/s
          </td>
          <td>
            <a class="btn btn-info">Details</a>
            <a class="btn btn-warning">Edit</a>
            <a class="btn btn-danger">Delete</a>
          </td>
        </tr>
        <tr>
          <td>Mild Cinnamon</td>
          <td>1.99</td>
          <td>yes</td>
          <td>
            <span>3</span> comment/s
            <a class="btn btn-outline-info" href="comments.html">view</a>
          </td>
          <td>
            <a class="btn btn-info">Details</a>
            <a class="btn btn-warning">Edit</a>
            <a class="btn btn-danger">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>

      <p>
        <a class="btn btn-secondary" href="../home.html">Return to home</a>
      </p>
    </div>
  </body>
  
</html>

