<!DOCTYPE html>

<html>

<head>
    <title>The Hogwarts Online Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/png" href="../static/favicon/favicon.png">
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<body>
<div class="container">
    <h1>Order details</h1>

    <div>
        <p><b>Code:</b> <span>99</span></p>
        <p><b>Date:</b> <span>24 March 2021</span></p>
    </div>

    <h2>Customer</h2>

    <div>
        <p><b>Name:</b> <span>Frederic Tomato</span></p>
        <p><b>Since:</b> <span>24 March 2021</span></p>
    </div>

    <h2>Products</h2>

    <table class="table table-striped table-hover">
        <tr>
            <th>PRODUCT</th>
            <th>AMOUNT</th>
            <th>PURCHASE PRICE</th>
        </tr>
        <tr>
            <td>Strawberries</td>
            <td class="number">3</td>
            <td class="number">23.32</td>
        </tr>
    </table>

    <div>
        <b>TOTAL:</b> <span>35.23</span>
    </div>

    <p>
        <a class="btn btn-secondary" href="list.html">Return to order list</a>
    </p>
</div>


</body>

</html>

