<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Hogwarts Online Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/png" href="../static/favicon/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="row justify-content-center">
        <img src="../static/logo.jpg" class="img-thumbnail" alt="logo" title="logo"/>
    </div>
    <div class="row justify-content-center">
        <div class="h2">Welcome to our grocery store, Sebastian!</div>
        <div>
            <a class="btn btn-info">Log Out</a>
        </div>
        <div>
            Today is: <span th:with="df=#{date.format}" th:text="${#calendars.format(today, df)}">13 February 2021</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div>Please select an option</div>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="product/list.html" th:href="@{/product/list}">Product List</a>
                <a class="list-group-item list-group-item-action" href="order/list.html">Order List</a>
                <a class="list-group-item list-group-item-action" href="subscribe.html">Subscribe to our Newsletter</a>
                <a class="list-group-item list-group-item-action" href="userprofile.html">See User Profile</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">Now you are looking at a <span>template file</span>.</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">&copy; 2021 The Hogwarts Online Store</div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>

